$colorMain: #333;
$colorFonts: #eee;

.input-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

input:focus {
  outline: none;
}

input {
  padding: 10px;
  width: 100px;
  font-size: 24px;
  text-align: center;
  color: $colorFonts;
  background-color: $colorMain;
  border: none;
  border-radius: 4px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
