.restart-button {
  margin: 0 auto;
}

.restart:focus {
  outline: none;
}

.restart {
  padding: 10px 20px;
  font-size: 24px;
  text-align: center;
  border: none;
  border-radius: 4px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}
